*{
    margin: 0;
    padding: 0%;
}
html{
    scroll-behavior: smooth;
}
/* nav bar*/
#navbar{
    display: flex;
    align-items: center;
    position: sticky;
    top: 0px;
}
/* logo and image*/
#logo{
    margin: 34px 45px;
    
}
#logo img{
    height: 44px;
    margin: 3px 5px;
}


 #navbar ul{
    display: flex;
}
#navbar ::before{
    content: "";
    background-color: black;
    position: absolute;
    height: 100%;
    width: auto;
    z-index: -1;
    opacity: 0.4;
}
#navbar li{
    color: aliceblue;
    list-style: none;
    font-size: 1.3rem;

}
#navbar ul li a{
    display: block;
    padding: 3px 22px;
    border-radius: 20px;
text-decoration: none;
color: aliceblue;
}
#navbar ul li a:hover{
    background-color: aliceblue ;
color: black;
}
/* home sec*/
#home{
    display: flex;
    flex-direction: column;
    padding: 3px 200px;
    height: 580px;
    justify-content: center;
    align-items: center;
}
#home::before{
    content: "";
    position:absolute;
    background: url('../img/521033.jpg') no-repeat center center/cover;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 1;
}
#home h1{
    color: aliceblue;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;

}
#home p{
    color: aliceblue;
    text-align: center;
}
.h-primary{
    font-size: 3.8rem;
    padding: 12px;
   
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.h-primary h1{
    color: aliceblue;
}
.h-secondary{
    font-size: 3rem;
    padding: 12px;
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
}

.btn{
    padding: 6px 20px;
    border: 2px solid white;
    background-color: rgb(20, 24, 23);
    color: aliceblue;
    margin: 17px;
    font-size: 1.5rem;
    border-radius: 10px;
    cursor: pointer;
}
.center{
    text-align: center;
}
/*services*/
#services{
    margin: 34px;
    display: flex;

}
#services .box{
    border: 2px solid rgb(255, 254, 254);
    margin: 3px 6px;
    border-radius: 20px;
    padding: 10px 15px;
    color: aliceblue;
}
#services .box img{
    height: 160px;
    display: block;
    margin: auto;
}
#services .box p{
    font-family: Arial, Helvetica, sans-serif;

}
/*clients*/
#clientsection{
    height: 400px;
    position: relative;
}
#clients{
    display: flex;
    justify-content: center;
    align-items: center;

}
#clients img{
   height: 120px;

}
#clientsection::before{
    content: "";
    position: absolute;
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 50%;
    z-index: -1;
    opacity: .4;

}
.client-item{
    padding: 24px;
}
/*Contact Section*/
#contact-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 34px;
}
#contact-box form{
    width: 40%;

}
#contact-box label{
    font-size: 1.3rem;
    font-family: Arial, Helvetica, sans-serif;

}
#contact-box input,
#contact-box textarea{
    width: 100%;
    padding: 0.5rem;
    border-radius: 9px;
    font-size: 1.1rem;

}
#contact{
position: relative;
}
#contact::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 100%;
    background-color: rgb(255, 255, 255);
}
footer{
    background-color: black;
    color: aliceblue;
    padding: 9px 20px;
}